body {

}
.header {
  text-align: center;
  background-color: black;
  color: white;

 }

.joueurs {
  float: right;
  border: solid 2px black;
}
.joueurs li, .equipe li {
  list-style-type: none;
}
.joueurs h2, .equipes h2 {
  text-align: center;
}
.equipes {
  border: solid 2px black;
  float: left;
}
.equipes a, .joueurs a {
  padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
  text-decoration: none;
	width:100px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
  line-height: 40px;
}
.joueurs a:hover, .equipes a:hover {
  color: red;
}
.form {
  text-align: center;
}
.form u {
  line-height: 30px;
  text-decoration: none;
}
